site_name: Xournal++
repo_url: https://github.com/xournalpp/xournalpp/
repo_name: xournalpp/xournalpp
remote_branch: master
edit_uri: https://github.com/xournalpp/xournalpp.github.io/edit/site/docs
nav:
  - Home: index.md
  - Installation:
      - OS selection: installation/index.md
      - Windows: installation/windows.md
      - MacOS: installation/macos.md
      - Linux: installation/linux.md
  - Guide:
      - Overview: guide/overview.md
      - Configuration: guide/config.md
      - Tools and Editing:
         - Pen and Highlighter tools: guide/tools/pen.md
         - Eraser tool: guide/tools/eraser.md
         - Selection and Snapping tools: guide/tools/selecsnap.md
         - LaTeX tool: guide/tools/latex.md
      - Plugins: 
         - Building plugins: guide/plugins/plugins.md
         - Notable plugins: guide/plugins/notable.md
      - File locations: guide/file-locations.md
      - Tips: guide/tips.md
  - Community: 
      - Getting help & helping out: community/help.md
      - Xournal++ & other software: community/other-software.md
  - "Report a bug": https://github.com/xournalpp/xournalpp/issues 

#Theme config
theme: 
  name: material
  favicon: img/favicon.ico
  logo: img/favicon.ico
  icon:
    repo: fontawesome/brands/github
  palette:
    scheme: default
    primary: indigo
    accent: deep orange
  features:
    - navigation.tabs
    - toc.integrate

# Custom styles
extra_css:
  - css/buttons.css

#Enable macros
plugins:
  - search
  - macros    

extra:
  downloads:
    default: "https://github.com/xournalpp/xournalpp/releases"
    allVersions: "https://github.com/xournalpp/xournalpp/tags"
    nightly: "https://github.com/xournalpp/xournalpp/releases/tag/nightly"
    windows:
      stable: "https://github.com/xournalpp/xournalpp/releases/download/1.1.0/xournalpp-1.1.0-windows.zip"
    macos:
      stable: "https://github.com/xournalpp/xournalpp/releases/download/1.1.0/xournalpp-1.1.0-macos.zip"
    linux:
      flatpak: "https://flathub.org/apps/details/com.github.xournalpp.xournalpp"
      appimage: "https://github.com/xournalpp/xournalpp/releases/download/1.1.0/xournalpp-1.1.0-x86_64.AppImage"
      snap: "https://snapcraft.io/xournalpp"
      debianStable: "https://github.com/xournalpp/xournalpp/releases/tag/1.1.0"
      ubuntuStable: "https://github.com/xournalpp/xournalpp/releases/tag/1.1.0"
  version:
    latest_stable: "1.1.0"
    latest_unstable: "1.1.0+dev"

#code highlighting
markdown_extensions:
  - pymdownx.highlight
  - pymdownx.superfences
  - toc:
      permalink: true
