site_name: Xournal++
repo_url: https://github.com/xournalpp/xournalpp/
repo_name: xournalpp/xournalpp
remote_branch: master
edit_uri: https://github.com/xournalpp/xournalpp.github.io/edit/site/docs
nav:
  - Home: index.md
  - Installation:
      - OS selection: installation/index.md
      - Windows: installation/windows.md
      - MacOS: installation/macos.md
      - Linux: installation/linux.md
  - Guide:
      - Overview: guide/overview.md
      - Whirlwind Tour: guide/whirlwind-tour.md
      - Configuration:
         - Preferences: guide/config/preferences.md
         - Toolbar Colors: guide/config/toolbar-colors.md
      - Tools and Editing:
         - Pen and Highlighter tools: guide/tools/pen.md
         - Eraser tool: guide/tools/eraser.md
         - Selection and Snapping tools: guide/tools/selecsnap.md
         - LaTeX tool: guide/tools/latex.md
         - PDF tools: guide/tools/pdf_tools.md
         - Geometry tools: guide/tools/geometry.md
      - Working With PDF Files: guide/pdfs.md
      - Plugins: 
         - Building plugins: guide/plugins/plugins.md
         - Notable plugins: guide/plugins/notable.md
      - File Locations: guide/file-locations.md
      - Tips: guide/tips.md
  - Community: 
      - Getting help & helping out: community/help.md
      - Xournal++ & other software: community/other-software.md
  - "Report a bug": https://github.com/xournalpp/xournalpp/issues 

#Theme config
theme: 
  name: material
  custom_dir: overrides
  favicon: img/favicon.ico
  logo: img/favicon.ico
  icon:
    repo: fontawesome/brands/github
  palette:
    scheme: default
    primary: black
    accent: deep orange
  features:
    - navigation.tabs
    - toc.integrate

# Custom styles
extra_css:
  - css/buttons.css

#Enable macros
plugins:
  - search
  - macros   

extra:
  version:
    # TODO: build the download links from these instead of hardcoding them in
    # overrides/installation/download-links.md
    latest_stable: "1.2.5"
    latest_unstable: "1.2.5+dev"

#code highlighting
markdown_extensions:
  - pymdownx.highlight
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - toc:
      permalink: true
  - admonition
  - attr_list
