a.xournalppButton {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--md-primary-fg-color);
    color: var(--md-primary-bg-color);
    padding: 8px;
    cursor: pointer;
    font-size: 20px;
}

a.xournalppButton:hover {
    color: var(--md-primary-bg-color--light);
}

a.downloadButton:after {
    display: block;
    content: "";
    width: 34px;
    height: 34px;
    background: url(/icons/download.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.downloadsContainer {
    display: grid;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    grid-gap: 8px;
}

#osContainer > a {
    font-size: 24px;
}

#debianContainer, #ubuntuContainer, #osContainer, #macosDownloadsContainer, #windowsDownloadsContainer {
    grid-template-columns: repeat(3, 1fr);
}

#linuxDownloadsContainer {
    grid-template-columns: repeat(4, 1fr);
}
