.md-typeset h1,
.md-typeset h2,
.md-typeset p,
.md-typeset ul,
.md-typeset li,
.md-typeset a {
	margin: 0;
	padding: 0;
}

@media only screen and (min-width: 76.25em) {
	.md-main__inner {
		max-width: 100%;
	}
	.md-sidebar--primary {
		left: 0;
	}
	.md-sidebar--secondary {
		right: 0;
		margin-left: 0;
		-webkit-transform: none;
		transform: none;   
	}
}

.home a {
	text-decoration: none;
}

.home {
	box-sizing: border-box;
	font-family: 'Montserrat';
	width: 80%;
	max-width: 1600px;
	margin: 0 auto;
}

.home h1, .home p, .home a {
	color: #000; 
}

.home ul {
	list-style: none;
}

.download-hyperlink {
	text-align: center;
}

.upper-button {
	display: none;
	margin-top: 100px;
}

.Xournal {
	text-align: left;
}

.Xournal {
	margin-bottom: 225px;
}

.Xournal h1 {
	font-weight: bold;
	font-size: 68px;
	margin-bottom: 30px;
}

.Xournal p {
	font-weight: medium;
	font-size: 34px;
	margin-bottom: 50px;
}

.Xournal a:hover {
	background-color: black;
}

.feature {
	margin-bottom: 225px;
	display: inline-flex;
}

.feature-left {
	direction: rtl;
}

.feature img {
	width: 70%;
	align-self: flex-start;
}

.feature-text {
	width: 30%;
	box-sizing: border-box;
	margin-bottom: 50px;
	direction: ltr;
}

.feature-left .feature-text {
	padding-left: 20px;
}

.feature-right .feature-text {
	padding-right: 20px;
}

.feature-text, .feature img {
	display: inline-block;
}

.feature-text h1 {
	font-weight: bold;
	font-size: 42px;
	margin-bottom: 30px;
}

.home .feature-description {
	list-style: none;
	display: inline-flex;
}

.feature-description .bullet-point {
	color: var(--md-accent-fg-color);
	margin-right: 5px;
	font-weight: 600;
}

.feature-description p {
	display: inline-block;
	font-weight: medium;
	font-size: 21px;
	margin-bottom: 20px;
}

.feature-text .last-description, .last-feature {
	margin-bottom: 0px;
}

.bottom-button {
	margin: 100px 0px;
}

.download-hyperlink a {
	display: inline-block;
	font-weight: medium;
	font-size: 30px;
	text-align: center;
	border: solid 2px black;
	padding: 10px 20px;
	transition: all 0.2s;
}

.download-hyperlink a:hover {
	background-color: black;
}


