{% extends "installation/installation.html" %}

{% block extrahead %}
{{ super() }}
<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&display=swap" rel="stylesheet">
{% endblock %}

{% block installpage %}
<div class="distro-specific-installation">
    <div class="title-container">
        <div class="border-container">
            <h2 class="title">Distro specific option and packages</h2>
            <p class="subtitle">(Slightly more complicated but might be preferable)</p>
        </div>
    </div>
    <div class="distro-list">
        {{ page.content }}
    </div>
</div>
{% endblock %}
